@model WatchManageStore.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item">@Html.ActionLink("Home","Index","Home")</li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 m-auto">
                <div class="login-register-wrapper">
                    <!-- login-register-tab-list start -->
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> Reset Password </h4>
                        </a>
                    </div>
                    <!-- login-register-tab-list end -->
                    <div class="tab-content">
                        <div id="lg2" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form asp-action="ResetPassword" method="post">

                                        @*summary error*@
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="login-input-box">
                                            <div class="form-group mb-3">
                                                <input type="password" class="mb-2" asp-for="Password" placeholder="Password">
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <input type="password" class="mb-2" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="Email" class="form-control" />
                                        <input type="hidden" asp-for="Token" class="form-control" />
                                        <div class="button-box">
                                            <button class="register-btn btn" type="submit"><span>Submit</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->
