
@{
    ViewData["Title"] = "Cuahang";
}
<div class="list">
    <div class="right">
        <div class="group" id="advance_city">
            <h3 class="bg-danger p-3">
                Thành phố Hà Nội
            </h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="item mt-5 border p-3">
                            <div>
                                <a href="javascript://" title="" class="name">
                                    <h3>Đăng Quang Watch - Trực tuyến</h3>
                                </a>
                            </div>
                            <div>
                                <i class="far fa-map"></i>
                                <span>Showroom 1: Bán hàng online với ưu đãi riêng cực lớn</span>
                            </div>
                            <div>
                                <a href="javascript://" class="phone" title="">
                                    <i class="fas fa-tty"></i> <span>
                                        Điện thoại:098.668.1189 -098.568.1189
                                    </span>
                                </a>
                            </div>
                            <div>
                                <a href="" title="" target="_blank"><i class="fas fa-map-signs"></i> <span>Chỉ đường</span></a>
                            </div>
                            <div>
                                <a href="/he-thong-cua-hang/9/cua-hang-truc-tuyen-online-voi-uu-dai.html" title="cua-hang-truc-tuyen-online-voi-uu-dai" target="_blank">
                                    <i class="fas fa-map-signs"></i> <span>Giới thiệu cửa hàng đồng hồ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item mt-5 p-3 border">
                            <div>
                                <a href="javascript://" title="" class="name">
                                    <h3>Đăng Quang Watch - Trực tuyến</h3>
                                </a>
                            </div>
                            <div>
                                <i class="far fa-map"></i>
                                <span>Showroom 1: Bán hàng online với ưu đãi riêng cực lớn</span>
                            </div>
                            <div>
                                <a href="javascript://" class="phone" title="">
                                    <i class="fas fa-tty"></i> <span>
                                        Điện thoại:098.668.1189 -098.568.1189
                                    </span>
                                </a>
                            </div>
                            <div>
                                <a href="" title="" target="_blank"><i class="fas fa-map-signs"></i> <span>Chỉ đường</span></a>
                            </div>
                            <div>
                                <a href="/he-thong-cua-hang/9/cua-hang-truc-tuyen-online-voi-uu-dai.html" title="cua-hang-truc-tuyen-online-voi-uu-dai" target="_blank">
                                    <i class="fas fa-map-signs"></i> <span>Giới thiệu cửa hàng đồng hồ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item mt-5 p-3 border">
                            <div>
                                <a href="#"> <h3>Đăng Quang Watch - Trực tuyến</h3> </a>
                            </div>
                            <div>
                                <i class="far fa-map"></i>
                                <span>Showroom 1: Bán hàng online với ưu đãi riêng cực lớn</span>
                            </div>
                            <div>
                                <a href="#" class="phone">
                                    <i class="fas fa-tty"></i> <span>
                                        Điện thoại:098.668.1189 -098.568.1189
                                    </span>
                                </a>
                            </div>
                            <div>
                                <a href="#"><i class="fas fa-map-signs"></i> <span>Chỉ đường</span></a>
                            </div>
                            <div>
                                <a href="/he-thong-cua-hang/9/cua-hang-truc-tuyen-online-voi-uu-dai.html" title="cua-hang-truc-tuyen-online-voi-uu-dai" target="_blank">
                                    <i class="fas fa-map-signs"></i> <span>Giới thiệu cửa hàng đồng hồ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


